body{
  background-color: darkslateblue;
}

.welcome{
    text-align: center;
    margin: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.button {
    background-color: darkgrey;
    text-decoration: none;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-style: ridge;
    border-color: black;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
}

a:link {
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover, a:active {
  background-color: white;
  padding: fill;
  background-color: darkgray;
}


.topnav{
  overflow: hidden;
  background-color: gray;
  color: white;
  text-decoration: none;
  font-style: none;
  position: fixed;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  text-align: center;
  border: 1px;
  border-color: white;
  border-style: solid;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.banner{
  text-align: center;
  font-size: 300%;
}