<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intermediary</title>
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/style.css">
</head>
<body>

    <div class="container">
    <div class="header">
        <h1>Welcome to timeline!</h1>
        <div class="interbody1">In order to begin, set up an account!</div>
    </div>    
    
    <div class="Login">    
    <button type="button" class="btn">Login</button>
    </div>
    
    <div class="Register">    
    <button type="button" class="btn">Register</button>
    </div>

</div>

</body>
</html>