{% extends "base.html" %}

{% block content %}

<h2>Current Workout</h2>

    {% if Exerciseslist %}

        {% for exercise in Exerciseslist %}
                
                    <div class="exercise-card">
                        
                        <div class="exercise-header">
                            <strong>{{ exercise.exercisename }}</strong>
                            <a href="/logout" class="remove-btn">Remove Exercise</a>
                        </div>
                        {% for i in range(1, 4) %}
                            <p>Set {{ i }} – {{ exercise.reps or "# reps" }}</p>
                        {% endfor %}
                        <a href="#" class="rest-timer">Start rest timer</a>
                    
                    </div>
                
                    {% endfor %}

                    {% else %}
                
                    <p>No exercises selected. Choose one <a href="/list">here</a>.</p>

    {% endif %}

{% endblock %}